body {
    /*background image*/
    background-image: url("/assets/fondos/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    color: white;
}

body, main, header, h1, h2, h3, h4, h5, h6, p, ul, li, button {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

button {
    background-color: transparent;
    border: none;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: rgba(132, 132, 132, 0.68);
    color: white;
}


/*
Mobile navbar
*/

#mobile-nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    padding-top: 0.4rem;
    list-style-type: none;
}

#home-icon, #map-icon, #weather-icon, #webcam-icon {
    width: 5em;
    fill: black;
}