#marquee-container {
    position: fixed;
    top: 0;
    overflow: hidden;
    margin-top: 8%;
    width: 100%;
}

#marquee-text {
    white-space: nowrap;
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    color: white;
}

.title{
   margin-top: 38vh;
}


h1{
    font-weight: 800;
    font-size: 3em;
}

h3{
    font-weight: 400;
    font-size: 1.5em;
}